body{
    overflow-x:auto;
    font-family: 'Poppins';
    padding-top: 70px;
}
.navbar{
    padding: 18px 14px;
    font-size: 19px;
    background-color: #f8f9fa;
}
.navbar .brand-text{
    font-weight:bold;
    font-size: 24px;
}
.navbar .nav-link{
    font-weight:bold;
    margin-right: 40px;
    color:black;
    transition: color 0.3s ease;
    text-decoration: none;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #005477; 
}
.search-form {
    width: 50%;
    position: relative;
    left: 15%;  
}
.search-bar{
    padding-left: 10px;
    border-radius: 0.25px;
    width: 170px;
    transition: 0.5s ease;
    border-color: #005477;
    font-weight: bold;
    font-size: medium;
    font-weight: bold;
}
.search-bar:focus {
    width: 300px;
    border-color: #005477;
}
.card{
    background-color: #005477;
    border-color: #fffdd0;
    margin-bottom: 300px;
}
.card-title{
    color: white;
    font-weight: bold;
}
.card-text{
    color:white;
}
.footer {
    background-color: #005477;
    padding: 30px;
    position: relative;
    width: 100%;
    text-align: center; 
}

.footer-links {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-links a {
    text-decoration: none; 
    color: #ffffff; 
}

.footer-links a:hover {
    color: #18a1f0; 
    text-decoration: none; 
}

.footer-links li {
    display: inline;
    margin-right: 15px;
}
.text-center{
    color: #000000;
}