<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IAB207 Assignment 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- Header -->
    <header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Polar Music Events</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.view_event') }}">Find Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.create_event') }}">Create Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.bookings') }}">My Bookings</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    {% if request.endpoint == 'main.index' and current_user.is_authenticated %}
                        <!-- Display username and logout link only on the homepage -->
                        <li class="nav-item">
                            <a class="nav-link disabled text-muted" href="#">
                                <span>Welcome, {{ current_user.username }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                        </li>
                    {% elif not current_user.is_authenticated %}
                        <!-- Show Register and Login links if the user is not authenticated -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Code for using Flask flash -->
        <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block header %}

        {% endblock %}

    </header>

    {% block content %}

    {% endblock %}

    <footer class="footer">
        <!-- Your footer should go here -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>