{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/Bookingstyle.css') }}">
{% endblock %}
{% block content %}
<section class="booking-history container mt-5">
    <h1 class="text-center mb-4">Your Booking History</h1>
    <img src="{{ url_for('static', filename='img/' ) }}" class="card-img-top">
    <div class="row">
        {% if orders %}
            {% for order in orders %}
                <div class="col-md-4 mb-4 d-flex align-items-stretch">
                        <div class="col-md-8">
                            <p><strong>Booking ID:</strong> {{ order.order_id }}</p>
                            <p><strong>Quantity:</strong> {{ order.quantity }}</p>
            
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No bookings available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
