{% extends "base.html" %}

{% block content %}
<section class="booking-history container mt-5">
    <h1 class="text-center mb-4">Your Booking History</h1>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card">
                <img src="Static/img/Concert.jpg" class="card-img-top" alt="Event Image">
                <div class="card-body">
                    <h5 class="card-title">We Are One 2024</h5>
                    <p class="card-text">
                        <strong>Booking ID:</strong> #54261<br>
                        <strong>Booked On:</strong> September 24, 2024, 5:00 PM
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
