{% extends "base.html" %}

{% block content %}
<section class="booking-history container mt-5">
    <h1 class="text-center mb-4">Your Booking History</h1>
    <div class="row">
        {% if event %}
            {% for event in event %}
                <div class="col-md-4 mb-4 d-flex align-items-stretch">
                    <div class="card mx-3">
                        <img src="{{ url_for('static', filename='img/' + event.image) }}" class="card-img-top" alt="{{ event.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <p class="card-text">{{ event.description }}</p>
                        </div>
                        <a href="{{ url_for('main.show', id=event.id) }}" class="btn btn-primary">More details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No events available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
