{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/EventDetailStyle.css') }}">
{% endblock %}

{% block content %}
<div class="event-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='img/' + event.image) }}"  class="img-fluid" alt="Event Image">
            </div>

            <div class="col-md-6">
                <h1 class="event-title">{{ event.name }}</h1>
                <p class="event-description">
                    {{ event.description }}
                </p>
                <p class="event-details">
                    <strong>Date:</strong> {{ event.date }} <br>
                    <strong>Time:</strong> {{ event.start_time.time() }} - {{ event.end_time.time() }} <br>
                    <strong>Venue:</strong> {{ event.venue }}
                </p>
                <span class="event-status status-open">Available</span>
                <br>
                <br>
                <br>
                {% if current_user.is_authenticated %}
                <div class="container mt-5">
                    <h2>Book Tickets</h2>
                    <form method="POST" action="{{ url_for('main.show', id=event.id) }}">
                        {{ oform.hidden_tag() }}
                        <div class="mb-3">
                            <label for="total_tickets" class="form-label">total_tickets</label>
                            {{ oform.total_tickets(class="form-select") }}
                        </div>
                        <div class="mb-3">
                            <label for="ticketQuantity" class="form-label">Quantity</label>
                            {{ oform.ticket_type(class="form-control") }}
                        </div>
                        <button type="submit" class="btn btn-primary mb-5">Confirm Booking</button>
                    </form>
                </div>
                {% endif %}


{% from 'bootstrap5/form.html' import render_form %}

<div class="comments-section container mt-4">
    <h2>Comments</h2>
    <div class="comment-list">
        {% for comment in event.comments %}
            <div class="comment mb-2">
                <p><strong>{{ comment.user.username }}:</strong> {{ comment.comment }} </p>
                <p><span class="small">Posted on: {{ comment.date_posted }}</span></p>
            </div>
        {% endfor %}
    </div>
    <h3>Post a Comment</h3>
    {% if current_user.is_authenticated %}
        {{render_form(form,"/view_event/{0}/comment".format(event.id))}}
    {% else %}
        <p>You must be logged in to comment</p>
    {% endif %}
</div>
{% endblock %}
