{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/EventDetailStyle.css') }}">
{% endblock %}

{% block content %}
<div class="event-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='img/' + event.image) }}"  class="img-fluid" alt="Event Image">
            </div>

            <div class="col-md-6">
                <h1 class="event-title">{{ event.name }}</h1>
                <p class="event-description">
                    {{ event.description }}
                </p>
                <p class="event-details">
                    <strong>Date:</strong> {{ event.date }} <br>
                    <strong>Time:</strong> {{ event.start_time.time() }} - {{ event.end_time.time() }} <br>
                    <strong>Venue:</strong> {{ event.venue }}
                </p>
                <span class="event-status status-open">Available</span>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
                    Book Now
                </button>

                <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalLabel">Book Tickets</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="booking-form">
                                    <div class="mb-3">
                                        <label for="ticketQuantity" class="ticket-label">Number of Tickets</label>
                                        <input type="number" class="form-control" id="ticketQuantity" name="ticketQuantity" min="1" max="10" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ticketType" class="ticket-label">Ticket Type</label>
                                        <select class="form-select" id="ticketType" name="ticketType">
                                            <option value="general">General Admission - ${{ form.ticket_type }}</option>
                                            <option value="vip">VIP - ${{ form.ticket_type  }}</option>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Your Name</label>
                                                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                                        
                                            </div>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-book">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% from 'bootstrap5/form.html' import render_form %}

<div class="comments-section container mt-4">
    <h2>Comments</h2>
    <div class="comment-list">
        {% for comment in event.comments %}
            <div class="comment mb-2">
                <p><strong>{{ comment.user.username }}:</strong> {{ comment.comment }} </p>
                <p><span class="small">Posted on: {{ comment.date_posted }}</span></p>
            </div>
        {% endfor %}
    </div>
    <h3>Post a Comment</h3>
    {% if current_user.is_authenticated %}
        {{render_form(form,"/view_event/{0}/comment".format(event.id))}}
    {% else %}
        <p>You must be logged in to comment</p>
    {% endif %}
</div>
{% endblock %}
