{% extends "base.html" %}

{% block title %}Home | Polar Music Events{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/Indexstyle.css') }}">
<section class="header-section">
    <div class="container">
        <h1>Explore your favourite music and live festivals</h1>
        <button class="btn FindMusic-btn">Find Music Now</button>
    </div>
</section>
<div class="categories">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4 col-5">
                <a href="#" class="category-link">
                    <div class="category-item">
                        <img src="{{ url_for('static', filename='img/ConcertIcon.jpg') }}" alt="Concert" class="category-icon">
                        <p>Concerts</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-5">
                <a href="#" class="category-link">
                    <div class="category-item">
                        <img src="{{ url_for('static', filename='img/FestivalIcon.png') }}" alt="Festival" class="category-icon">
                        <p>Festivals</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-5">
                <a href="#" class="category-link">
                    <div class="category-item">
                        <img src="{{ url_for('static', filename='img/MusicalIcon.png') }}" alt="Musicals" class="category-icon">
                        <p>Musicals</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="upcoming-events">
    <div class="container">
        <h1 class="text-center mb-5">Upcoming Music Events</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card event-card position-relative">
                    <img src="{{ url_for('static', filename='img/Concert.jpg') }}" class="card-img-top event-image img-fluid" alt="event image">
                    <div class="card-body">
                        <h5 class="card-title">We Are One Festival 2024</h5>
                        <p class="card-text">Join one of the most awaited festivals of 2024</p>
                        <a href="{{ url_for('main.view_event', current_event_id=1) }}" class="btn btn-event">View Event</a>
                        <span class="event-status status-open">Available</span>
                    </div>
                </div>
            </div>
           

            <div class="col-md-4">
              <div class="card event-card position-relative">
                <img src="Static/img/Opera.jpg" class="card-img-top event-image img-fluid" alt="event image">
                <div class="card-body">
                  <h5 class="card-title">John Maroon Opera Night</h5>
                  <p class="card-text">Experience a soothing opera night with John Maroon</p>
                  <a href="#" class="btn btn-event">View Event</a>
                  <span class="event-status status-sold-out">Sold Out</span>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card event-card position-relative">
                <img src="Static/img/Robot.jpeg" class="card-img-top" alt="event image">
                <div class="card-body">
                  <h5 class="card-title">Astro Mech Concert</h5>
                  <p class="card-text">Get ready for one of the most awaited artist coming to australia</p>
                  <a href="#" class="btn btn-event">View Event</a>
                  <span class="event-status status-cancelled">Cancelled</span>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card event-card position-relative">
                <img src="Static/img/placeholder-image.jpg" class="card-img-top" alt="event Image">
                <div class="card-body">
                  <h5 class="card-title">An Event</h5>
                  <p class="card-text">Event Description</p>
                  <a href="#" class="btn btn-event">View Event</a>
                  <span class="event-status status-inactive">Inactive</span>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card event-card position-relative">
                <img src="Static/img/placeholder-image.jpg" class="card-img-top" alt="event image">
                <div class="card-body">
                  <h5 class="card-title">An Event</h5>
                  <p class="card-text">Event Description</p>
                  <a href="#" class="btn btn-event">View Event</a>
                  <span class="event-status status-inactive">Inactive</span>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card event-card position-relative">
                <img src="Static/img/placeholder-image.jpg" class="card-img-top" alt="event image">
                <div class="card-body">
                  <h5 class="card-title">An Event</h5>
                  <p class="card-text">Event Description</p>
                  <a href="#" class="btn btn-event">View Event</a>
                  <span class="event-status status-inactive">Inactive</span>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
