{% extends "base.html" %}

{% block title %}Home | Polar Music Events{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/Indexstyle.css') }}">
<section class="header-section">
    <div class="container">
        <h1>Explore your favourite music and live festivals</h1>
        <button class="btn FindMusic-btn">Find Music Now</button>
    </div>
</section>
<div class="categories">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4 col-5">
                <a href="#" class="category-link">
                    <div class="category-item">
                        <img src="{{ url_for('static', filename='img/ConcertIcon.jpg') }}" alt="Concert" class="category-icon">
                        <p>Concerts</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-5">
                <a href="#" class="category-link">
                    <div class="category-item">
                        <img src="{{ url_for('static', filename='img/FestivalIcon.png') }}" alt="Festival" class="category-icon">
                        <p>Festivals</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-5">
                <a href="#" class="category-link">
                    <div class="category-item">
                        <img src="{{ url_for('static', filename='img/MusicalIcon.png') }}" alt="Musicals" class="category-icon">
                        <p>Musicals</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="upcoming-events">
    <div class="container">
        <h1 class="text-center mb-5">Upcoming Music Events</h1>
        <div class="row">
        
            {% if event %}
            {% for event in event %}
                <div class="card mx-3">
                    <img src="{{ url_for('static', filename='img/' + event.image) }}" class="card-img-top" alt="{{ event.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">{{ event.description }}</p>
                    </div>
                    <a href="{{ url_for('main.show', id=event.id) }}" class="btn btn-primary">More details</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No events available.</p>
        {% endif %}
              {% endblock %}