body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 105vh;
    flex-direction: column;
}

/* Header banner */
.header-banner {
    width: 100%;
    background-color: #005477;
    padding: 30px 0;
    color: white;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-banner a {
    color: #fffb1d;
    text-decoration: none;
}

/* Register container */
.register-container {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 60px 40px;
    border-radius: 20px;
    text-align: center;
    margin-top: 100px;
}

.register-title {
    color: #6f42c1;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
}

/* Styling the input boxes */
.form-control {
    border-radius: 25px;
    padding: 15px 20px;
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Styling the Register button */
.btn-register {
    background-color: #005477;
    color: white;
    border-radius: 25px;
    padding: 12px 20px;
    width: 90%;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 10px;
}

/* Login link styling */
.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #bd2907;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}