{% extends "base.html" %}

{% block content %}
<section class= "eventCreate container mt-5 pt-3">
    <h1 class="text-center mb-4">Create New Event</h1>
    <form method="POST" , action="{{ url_for('main.create_event') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="col-md-6">
            <label for="eventName" class="form-label">Event Name</label>
            {{ form.event_name(class="form-control", placeholder="Enter event name") }}
        </div>
        <div class="col-md-6">
            <label for="eventDate" class="form-label">Event Date</label>
            {{ form.date(class="form-control", placeholder="Enter event date") }}
        </div>
        <div class="col-md-6">
            <label for="startTime" class="form-label">Start Time</label>
            {{ form.start_time(class="form-control", placeholder="Enter start time") }}
        </div>
        <div class="col-md-6">
            <label for="endTime" class="form-label">End Time</label>
            {{ form.end_time(class="form-control", placeholder="Enter end time") }}
        </div>
        <div class="col-md-12">
            <label for="eventVenue" class="form-label">Venue</label>
            {{ form.venue(class="form-control", placeholder="Enter venue location") }}
        </div>
        <div class="col-md-12">
            <label for="eventDescription" class="form-label">Event Description</label>
            {{ form.description(class="form-control", placeholder="Enter event description") }}
        </div>
        <div class="col-md-12">
            <label for="eventImage" class="form-label">Upload Event Image</label>
            {{ form.event_image(class="form-control") }}
        </div>
        <div class="col-md-6">
            <label for="ticketType" class="form-label">Ticket Type</label>
            {{ form.ticket_type(class="form-control", placeholder="ticket type") }}
        </div>
        <div class="col-md-6">
            <label for="ticketType" class="form-label">Status</label>
            {{ form.status(class="form-control", placeholder="Status") }}
        </div>
        <div class="col-md-6">
            <label for="ticketQuantity" class="form-label">Total Tickets</label>

            {{ form.total_tickets(class="form-control", placeholder="Enter total number of tickets") }}
        </div>
        <div class="col-md-4">
            <label for="ticketPrice" class="form-label">Ticket Price ($)</label>
            {{ form.ticket_price(class="form-control", placeholder="Enter Ticket Price") }}
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn event-btn">Create Event</button>
        </div>
        
    </div>
    </form>
</section>
{% endblock %}