{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/loginStyle.css') }}">
{% endblock %}

{% block navbar %}
<!-- Override navbar to hide it on the login page -->
{% endblock %}

{% block content %}
<div class="header-banner">
    <p>Welcome to Polar Music Events</p>
</div>

<div class="login-container">
    <h4 class="login-title">{{ heading }}</h4>
    
    <!-- Login form rendering -->
    <div class="col-md-12">
        {{ render_form(form) }}
    </div>

    <!-- Link to register if not a user -->
    {% if heading == 'Login' %}
    <div class="register-link">
        <p>New user? <a href="{{ url_for('auth.register') }}">Click here</a> to register.</p>
    </div>
    {% endif %}
</div>
{% endblock %}
